.title {
  margin-top: 100px;
}

     @media (orientation:portrait) {

         .wrapper {
             display: flex;
             align-items: center;
             justify-content: center;
             padding: 10%;
         }

         .column1 {
             display: none;
         }

         .bio {
             grid-column: 1 / 3;
             display: flex;
             justify-content: center;
             text-align: center;
             flex-direction: column;
         }

         .bio2 {
             font-size: 2rem;
         }

         .statement {
             font-size: 2rem;
         }

         h1 {
             font-size: 3rem;
         }

         h3 {
             font-size: 3rem;
         }

         .description {
             font-size: 2rem;
         }

         p {
             font-size: 2rem;
         }


     }
